In [1]:
import pandas as pd

# Load both datasets
df_main = pd.read_csv("Cleancsv/Testing_ML.csv")        # Replace with your actual file name
df_gamalytic = pd.read_csv("Cleancsv/gamalytics_data.csv")

C:\Users\artur\AppData\Local\Temp\ipykernel_17016\2732048313.py:4: DtypeWarning: Columns (160,161,162,164) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv("Cleancsv/Testing_ML.csv")        # Replace with your actual file name
C:\Users\artur\AppData\Local\Temp\ipykernel_17016\2732048313.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gamalytic = pd.read_csv("Cleancsv/gamalytics_data.csv")

In [2]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 20)

In [3]:
df_gamalytic

,Name,Steam Id,First Release Date,Early Access Release Date,Early Access Exit Date,Early Access,Unreleased,Price,Copies Sold,Revenue,...,2016 sales,2017 sales,2018 sales,2019 sales,2020 sales,2021 sales,2022 sales,2023 sales,2024 sales,2025 sales
0,Counter-Strike 2,730,"Tue, 01 May 2012 00:00:00 GMT","Tue, 01 May 2012 00:00:00 GMT","Tue, 21 Aug 2012 04:00:00 GMT",False,False,0.0,302975930,8944976333,...,24423655.0,15061016.0,14753897.0,30689384.0,48986888.0,35258133.0,29760694.0,39470802.0,22453344.0,10160882.0
1,PUBG: BATTLEGROUNDS,578080,"Wed, 01 Mar 2017 00:00:00 GMT","Wed, 01 Mar 2017 00:00:00 GMT","Thu, 21 Dec 2017 05:00:00 GMT",False,False,0.0,161327869,4605867860,...,NaN,38018896.0,24268833.0,14398488.0,9714660.0,24502990.0,17324564.0,12088193.0,16138031.0,4873214.0
2,Dota 2,570,"Mon, 01 Aug 2011 00:00:00 GMT","Mon, 01 Aug 2011 00:00:00 GMT","Tue, 09 Jul 2013 04:00:00 GMT",False,False,0.0,218244057,2050852261,...,21881487.0,20351032.0,14557900.0,13137985.0,14747186.0,14061782.0,17186694.0,13328564.0,15631751.0,4661330.0
3,Apex Legends™,1172470,"Wed, 04 Nov 2020 05:00:00 GMT",NaN,NaN,False,False,0.0,66833730,1426628640,...,NaN,NaN,NaN,NaN,7170451.0,16383450.0,14176155.0,14565731.0,13341905.0,1196038.0
4,Destiny 2,1085660,"Tue, 01 Oct 2019 04:00:00 GMT",NaN,NaN,False,False,0.0,45270335,838290560,...,NaN,NaN,NaN,12196496.0,10629066.0,8090051.0,6220376.0,4874592.0,2797477.0,462277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98345,Cosmic Concealed,3605920,"Tue, 01 Apr 2025 00:00:00 GMT",NaN,NaN,False,False,0.0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98346,Gunbot Diplomacy: Blast Off,3610940,"Fri, 25 Apr 2025 00:00:00 GMT",NaN,NaN,False,False,0.0,5052,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98347,wizbuilder!,3673360,"Tue, 01 Apr 2025 00:00:00 GMT",NaN,NaN,False,False,0.0,311,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98348,Lords of the Fallen - Free Friend's Pass,3664720,"Thu, 17 Apr 2025 00:00:00 GMT",NaN,NaN,False,False,0.0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98349,Football Heroes League,2593870,"Thu, 01 May 2025 00:00:00 GMT","Thu, 01 May 2025 00:00:00 GMT",NaN,True,False,0.0,11104,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_gamalytic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98350 entries, 0 to 98349
Data columns (total 51 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Name                                     98350 non-null  object
 1   Steam Id                                 98350 non-null  int64
 2   First Release Date                       98350 non-null  object
 3   Early Access Release Date                19169 non-null  object
 4   Early Access Exit Date                   10669 non-null  object
 5   Early Access                             98350 non-null  bool
 6   Unreleased                               98350 non-null  bool
 7   Price                                    98350 non-null  float64
 8   Copies Sold                              98350 non-null  int64
 9   Revenue                                  98350 non-null  int64
 10  Total Revenue (including IAPs and DLCs)  366 non-null    float64
 11  Wishlists                                98272 non-null  float64
 12  Followers                                98350 non-null  int64
 13  Reviews                                  98350 non-null  int64
 14  Review Score                             98350 non-null  int64
 15  Genres                                   98350 non-null  object
 16  Tags                                     98350 non-null  object
 17  Features                                 98350 non-null  object
 18  Average Playtime                         98350 non-null  float64
 19  Developers                               98350 non-null  object
 20  Publishers                               98350 non-null  object
 21  Publishers Class                         98350 non-null  object
 22  Wishlists at Release                     14547 non-null  float64
 23  Wishlists (last 7 days)                  67946 non-null  float64
 24  M1 sales/release wishlists ratio         13023 non-null  float64
 25  M1 Revenue                               65065 non-null  float64
 26  M1 Sales                                 76293 non-null  float64
 27  Y1 Revenue                               59330 non-null  float64
 28  Y1 Sales                                 68825 non-null  float64
 29  2015 revenue                             5623 non-null   float64
 30  2016 revenue                             9260 non-null   float64
 31  2017 revenue                             13971 non-null  float64
 32  2018 revenue                             19491 non-null  float64
 33  2019 revenue                             24657 non-null  float64
 34  2020 revenue                             31127 non-null  float64
 35  2021 revenue                             38646 non-null  float64
 36  2022 revenue                             46438 non-null  float64
 37  2023 revenue                             59763 non-null  float64
 38  2024 revenue                             72804 non-null  float64
 39  2025 revenue                             72804 non-null  float64
 40  2015 sales                               5931 non-null   float64
 41  2016 sales                               9981 non-null   float64
 42  2017 sales                               15291 non-null  float64
 43  2018 sales                               21606 non-null  float64
 44  2019 sales                               27658 non-null  float64
 45  2020 sales                               35327 non-null  float64
 46  2021 sales                               44099 non-null  float64
 47  2022 sales                               53292 non-null  float64
 48  2023 sales                               68859 non-null  float64
 49  2024 sales                               84603 non-null  float64
 50  2025 sales                               84603 non-null  float64
dtypes: bool(2), float64(33), int64(6), object(10)
memory usage: 37.0+ MB

In [ ]:
df_main

In [ ]:
df_main

In [5]:
df_filtered = df_main[df_main['categories'].str.contains('Single-player', na=False)]

In [ ]:
df_filtered.columns

In [6]:
df_ready_to_merge = df_filtered[df_filtered['num_reviews_total'] >= 50]

In [7]:
df_ready_to_merge["time_to_beat"].info()

<class 'pandas.core.series.Series'>
Index: 10055 entries, 2 to 17194
Series name: time_to_beat
Non-Null Count  Dtype
--------------  -----
10055 non-null  object
dtypes: object(1)
memory usage: 157.1+ KB

In [8]:
df_merged = df_ready_to_merge.merge(
    df_gamalytic,
    left_on="appid",
    right_on="Steam Id",
    how="left"
)

In [9]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10055 entries, 0 to 10054
Columns: 216 entries, Unnamed: 0.1 to 2025 sales
dtypes: float64(40), int64(151), object(25)
memory usage: 16.6+ MB

In [10]:
column_summary = pd.DataFrame({
    "Column Name": df_merged.columns,
    "Non-Null Count": df_merged.notnull().sum().values,
    "Data Type": df_merged.dtypes.astype(str).values
})

In [11]:
zero_counts = df_merged["time_to_beat"].isin([0]).sum()
print(zero_counts)

1395

In [12]:
zero_counts2 = df_merged["playtime_hours"].isin([0]).sum()
print(zero_counts2)

1081

In [13]:
zero_counts3 = df_merged["playtime_hours_fuzzy"].isin([0]).sum()
print(zero_counts3)

314

In [14]:
import numpy as np

In [15]:
df_merged["playtime_hours"] = pd.to_numeric(df_merged["playtime_hours"], errors='coerce')
df_merged["playtime_hours_fuzzy"] = pd.to_numeric(df_merged["playtime_hours_fuzzy"], errors='coerce')

valid_mask = (df_merged["playtime_hours"] > 0) & (df_merged["playtime_hours_fuzzy"] > 0)
df_merged["time_to_beat"] = np.where(
    valid_mask,
    (df_merged["playtime_hours"] + df_merged["playtime_hours_fuzzy"]) / 2,
    np.nan
)

df_merged["time_to_beat"] = df_merged["time_to_beat"].fillna(
    df_merged["playtime_hours"].where(df_merged["playtime_hours"] > 0)
).fillna(
    df_merged["playtime_hours_fuzzy"].where(df_merged["playtime_hours_fuzzy"] > 0)
)

In [16]:
missing_ttb_df = df_merged[df_merged['time_to_beat'].isna()][['name', 'appid']].dropna()

In [17]:
missing_ttb_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2925 entries, 12 to 10054
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2925 non-null   object
 1   appid   2925 non-null   int64
dtypes: int64(1), object(1)
memory usage: 68.6+ KB

In [18]:
gametime_df = pd.read_csv("all_games_processed.csv")

In [19]:
gametime_df_2 = pd.read_csv("all_games_PC.csv")

In [ ]:
gametime_df

In [23]:
gametime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35922 entries, 0 to 35921
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                35922 non-null  int64
 1   title             35920 non-null  object
 2   main_story        17324 non-null  object
 3   main_plus_extras  11631 non-null  object
 4   completionist     13107 non-null  object
 5   all_styles        21112 non-null  object
 6   coop              183 non-null    float64
 7   versus            274 non-null    float64
 8   type              1314 non-null   object
 9   developers        34080 non-null  object
 10  publishers        32749 non-null  object
 11  platforms         20901 non-null  object
 12  genres            32843 non-null  object
 13  release_na        31682 non-null  object
 14  release_eu        14078 non-null  object
 15  release_jp        5420 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 4.4+ MB

In [22]:
gametime_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68796 entries, 0 to 68795
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   genres         68795 non-null  object
 1   id             68796 non-null  int64
 2   name           68795 non-null  object
 3   platforms      68796 non-null  object
 4   summary        68796 non-null  object
 5   storyline      68749 non-null  object
 6   rating         36078 non-null  object
 7   main           24559 non-null  float64
 8   extra          24559 non-null  float64
 9   completionist  24559 non-null  float64
 10  review_score   24559 non-null  float64
 11  review_count   24559 non-null  float64
 12  people_polled  24559 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 6.8+ MB

In [ ]:
gametime_df_2

In [20]:
from thefuzz import process
import pandas as pd

# Combine the two sources
combined_gametime = pd.concat([gametime_df, gametime_df_2]).drop_duplicates(subset="name")

# Prepare result list
matched_rows = []

# Fuzzy match each missing entry
for _, row in missing_ttb_df.iterrows():
    name_to_match = row["name"]
    match, score, _ = process.extractOne(name_to_match, combined_gametime["name"])

    if score > 90:
        matched_row = combined_gametime[combined_gametime["name"] == match].iloc[0]
        matched_rows.append({
            "appid": row["appid"],
            "original_name": name_to_match,
            "matched_name": match,
            "match_score": score,
            "time_to_beat": matched_row.get("time_to_beat", None)
        })

# Turn into DataFrame
matched_df = pd.DataFrame(matched_rows)

In [21]:
matched_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2911 entries, 0 to 2910
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   appid          2911 non-null   int64
 1   original_name  2911 non-null   object
 2   matched_name   2911 non-null   object
 3   match_score    2911 non-null   int64
 4   time_to_beat   0 non-null      object
dtypes: int64(2), object(3)
memory usage: 113.8+ KB

In [35]:
from thefuzz import process
import pandas as pd


# Combine both sources
combined_gametime = pd.concat([gametime_df, gametime_df_2]).drop_duplicates(subset="name")

# Normalize the time_to_beat column
if 'main' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main"]
elif 'main_story' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main_story"]
else:
    raise ValueError("No valid time_to_beat column found (expected 'main' or 'main_story')")

# Get rows where time_to_beat is missing
missing_ttb_df = df_merged[df_merged['time_to_beat'].isna()][['name', 'appid']].dropna()

# Prepare result list
matched_rows = []

# Fuzzy match missing games
for _, row in missing_ttb_df.iterrows():
    name_to_match = row["name"]
    match_tuple = process.extractOne(name_to_match, combined_gametime["name"])
    
    if not match_tuple:
        continue

    matched_name, match_score, _ = match_tuple
    matched_row = combined_gametime[combined_gametime["name"] == matched_name]
    if score > 90:
        matched_row = combined_gametime[combined_gametime["name"] == match]
        if matched_row.empty:
            continue

        matched_rows.append({
            "appid": row["appid"],
            "original_name": name_to_match,
            "matched_name": match,
            "match_score": score,
            "time_to_beat": matched_row.iloc[0].get("time_to_beat", None)
        })

# Convert matches to DataFrame
matched_df = pd.DataFrame(matched_rows)

# Merge time_to_beat values back to the main dataset
df_merged.set_index("appid", inplace=True)
matched_df.set_index("appid", inplace=True)
df_merged.update(matched_df)

# Reset index if needed and output result
df_merged.reset_index(inplace=True)

# Display result
print("✅ Matching complete!")
print(matched_df.info())

✅ Matching complete!
<class 'pandas.core.frame.DataFrame'>
Index: 2925 entries, 1966720 to 1265120
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   original_name  2925 non-null   object
 1   matched_name   2925 non-null   object
 2   match_score    2925 non-null   int64
 3   time_to_beat   2925 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 178.8+ KB
None

In [36]:
df_merged['time_to_beat'].isna().sum()

np.int64(0)

In [26]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10055 entries, 0 to 10054
Columns: 216 entries, Unnamed: 0.1 to 2025 sales
dtypes: float64(42), int64(151), object(23)
memory usage: 16.6+ MB

In [27]:
(df_merged['time_to_beat'] == 0).sum()

np.int64(0)

In [28]:
df_merged.to_csv("ML_Friday.csv")

In [40]:
matched_df['time_to_beat'].describe()

count    2925.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: time_to_beat, dtype: float64

In [21]:
from thefuzz import process
import pandas as pd


# Combine both sources
combined_gametime = pd.concat([gametime_df, gametime_df_2]).drop_duplicates(subset="name")

# Normalize the time_to_beat column
if 'main' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main"]
elif 'main_story' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main_story"]
else:
    raise ValueError("No valid time_to_beat column found (expected 'main' or 'main_story')")

# Get rows where time_to_beat is missing
missing_ttb_df = df_merged[df_merged['time_to_beat'].isna()][['name', 'appid']].dropna()

# Prepare result list
matched_rows = []

# Fuzzy match missing games
for _, row in missing_ttb_df.iterrows():
    name_to_match = row["name"]
    match_tuple = process.extractOne(name_to_match, combined_gametime["name"])
    
    if not match_tuple:
        continue

    matched_name, match_score, _ = match_tuple
    matched_row = combined_gametime[combined_gametime["name"] == matched_name]
    if match_score > 90:
        matched_row = combined_gametime[combined_gametime["name"] == match]
        if matched_row.empty:
            continue

        time_to_beat_value = matched_row.iloc[0].get("time_to_beat", None)

     # ✅ Only append if the value is not missing and not 0.0
        if time_to_beat_value and time_to_beat_value > 0:
            matched_rows.append({
            "appid": row["appid"],
            "original_name": name_to_match,
            "matched_name": matched_name,
            "match_score": score,
            "time_to_beat": time_to_beat_value
    })

# Convert matches to DataFrame
matched_df = pd.DataFrame(matched_rows)

# Merge time_to_beat values back to the main dataset
df_merged.set_index("appid", inplace=True)
matched_df.set_index("appid", inplace=True)
df_merged.update(matched_df)

# Reset index if needed and output result
df_merged.reset_index(inplace=True)

# Display result
print("✅ Matching complete!")
print(matched_df.info())

NameError: name 'match' is not defined

In [22]:
import pandas as pd
from thefuzz import process

# Combine both sources and drop duplicates by name
combined_gametime = pd.concat([gametime_df, gametime_df_2]).drop_duplicates(subset="name")

# Normalize the time_to_beat source column
if 'main' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main"]
elif 'main_story' in combined_gametime.columns:
    combined_gametime["time_to_beat"] = combined_gametime["main_story"]
else:
    raise ValueError("❌ No valid time_to_beat column found (expected 'main' or 'main_story')")

In [23]:
# Find rows where time_to_beat is NaN in your main dataframe
missing_ttb_df = df_merged[df_merged['time_to_beat'].isna()][['name', 'appid']].dropna()
print(f"🎯 Games missing time_to_beat: {len(missing_ttb_df)}")

🎯 Games missing time_to_beat: 2925

In [25]:
matched_rows = []

for _, row in missing_ttb_df.iterrows():
    name_to_match = row["name"]
    match_tuple = process.extractOne(name_to_match, combined_gametime["name"])

    if not match_tuple:
        continue

    matched_name, match_score,_ = match_tuple
    if match_score < 90:
        continue

    matched_row = combined_gametime[combined_gametime["name"] == matched_name]
    if matched_row.empty:
        continue

    time_to_beat_value = matched_row.iloc[0].get("time_to_beat", None)

    # Only update if the value is not null and not 0.0
    if pd.notna(time_to_beat_value) and time_to_beat_value > 0:
        matched_rows.append({
            "appid": row["appid"],
            "original_name": name_to_match,
            "matched_name": matched_name,
            "match_score": match_score,
            "time_to_beat": time_to_beat_value
        })

print(f"✅ Matching complete. Matches with non-zero time_to_beat: {len(matched_rows)}")

✅ Matching complete. Matches with non-zero time_to_beat: 1

In [ ]:
m = 50  # Minimum review threshold
C = df_merged['pct_pos_total'].mean()  # Global average positivity

# Compute Bayesian average score
df_merged['bayesian_score'] = (
    (df_merged['num_reviews_total'] / (df_merged['num_reviews_total'] + m)) * df_merged['pct_pos_total'] +
    (m / (df_merged['num_reviews_total'] + m)) * C
)

In [30]:
df_merged = df_merged[df_merged['time_to_beat'] > 0].copy()

In [31]:
df_merged["average_playtime_forever"].isna().sum()

np.int64(0)

In [32]:
df_merged["average_playtime_forever"]

0            0
1        10987
2         4411
3         4871
4            0
         ...
10043        0
10045       18
10047        0
10048        0
10053        0
Name: average_playtime_forever, Length: 7130, dtype: int64

In [33]:
# Count how many entries are zero before replacement
zero_before = (df_merged['average_playtime_forever'] == 0).sum()
print(f"Zero values in average_playtime_forever before: {zero_before}")

# Replace only where average_playtime_forever == 0 and 'Average Playtime' != 0
mask = (df_merged['average_playtime_forever'] == 0) & (df_merged['Average Playtime'] != 0)
df_merged.loc[mask, 'average_playtime_forever'] = df_merged.loc[mask, 'Average Playtime']

# Count again after replacement
zero_after = (df_merged['average_playtime_forever'] == 0).sum()
print(f"Zero values in average_playtime_forever after: {zero_after}")

Zero values in average_playtime_forever before: 4353
Zero values in average_playtime_forever after: 3

C:\Users\artur\AppData\Local\Temp\ipykernel_17016\777114445.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[98.91769403 78.26036357 65.54537343 ...  1.10299242  2.84760985
  3.05691463]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_merged.loc[mask, 'average_playtime_forever'] = df_merged.loc[mask, 'Average Playtime']

In [34]:
df_merged["average_playtime_forever"]

0           98.917694
1        10987.000000
2         4411.000000
3         4871.000000
4           78.260364
             ...
10043        6.778160
10045       18.000000
10047        1.102992
10048        2.847610
10053        3.056915
Name: average_playtime_forever, Length: 7130, dtype: float64

In [36]:
df_merged2 = pd.read_csv("ML_Friday.csv")

C:\Users\artur\AppData\Local\Temp\ipykernel_17016\1369400611.py:1: DtypeWarning: Columns (162,163) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged2 = pd.read_csv("ML_Friday.csv")

In [37]:
df_merged2["Average Playtime"].dtype

dtype('float64')

In [38]:
# Convert Average Playtime from hours to minutes
df_merged2["Average Playtime"] = df_merged2["Average Playtime"] * 60

# Fill only where average_playtime_forever is 0
df_merged2["average_playtime_forever"] = df_merged2.apply(
    lambda row: row["Average Playtime"] if row["average_playtime_forever"] == 0 else row["average_playtime_forever"],
    axis=1
)

In [39]:
(df_merged2["average_playtime_forever"] == 0).sum()

np.int64(3)

In [41]:
df_merged2 = df_merged2[df_merged2["time_to_beat"].notna() & (df_merged2["time_to_beat"] > 0)]

In [43]:
df_merged2.to_csv("ML_ready.csv")

In [44]:
df_merged2['completion_rate_avg'] = (df_merged2['average_playtime_forever'] / 60) / df_merged2['time_to_beat']
df_merged2['completion_rate_avg'] = df_merged2['completion_rate_avg'].clip(upper=1.0)

# Completion rate using median playtime
df_merged2['completion_rate_median'] = (df_merged2['median_playtime_forever'] / 60) / df_merged2['time_to_beat']
df_merged2['completion_rate_median'] = df_merged2['completion_rate_median'].clip(upper=1.0)

# Deviation between average and median playtimes
df_merged2['playtime_deviation'] = df_merged2['average_playtime_forever'] - df_merged2['median_playtime_forever']

# Engagement ratio (uncapped)
df_merged2['engagement_ratio'] = (df_merged2['average_playtime_forever'] / 60) / df_merged2['time_to_beat']

# Binary flag: whether the game is frequently completed
df_merged2['is_frequently_completed'] = (df_merged2['completion_rate_median'] >= 0.7).astype(int)

In [45]:
# Display a summary of new columns
print("🧾 Summary statistics:")
print(df_merged2[[
    'completion_rate_avg',
    'completion_rate_median',
    'playtime_deviation',
    'engagement_ratio',
    'is_frequently_completed'
]].describe())

# Show a sample of the enriched data
df_merged2[[
    'name',
    'time_to_beat',
    'average_playtime_forever',
    'median_playtime_forever',
    'completion_rate_avg',
    'completion_rate_median',
    'engagement_ratio',
    'is_frequently_completed'
]].head(10)

🧾 Summary statistics:
       completion_rate_avg  completion_rate_median  playtime_deviation  \
count          7072.000000             7130.000000         7072.000000
mean              0.785927                0.250394          367.565194
std               0.298313                0.388846         6846.882628
min               0.000000                0.000000      -533229.000000
25%               0.595435                0.000000            0.000000
50%               1.000000                0.000000          168.971506
75%               1.000000                0.459638          373.031844
max               1.000000                1.000000       146574.000000

       engagement_ratio  is_frequently_completed
count       7072.000000              7130.000000
mean           9.668975                 0.202384
std          207.848702                 0.401805
min            0.000000                 0.000000
25%            0.595435                 0.000000
50%            1.071551                 0.000000
75%            1.938604                 0.000000
max        10584.166667                 1.000000

,name,time_to_beat,average_playtime_forever,median_playtime_forever,completion_rate_avg,completion_rate_median,engagement_ratio,is_frequently_completed
0,Terraria,51.53,5935.061642,0,1.000000,0.000000,1.919614,0
1,Garry's Mod,52.65,10987.000000,1173,1.000000,0.371320,3.477999,0
2,The Witcher 3: Wild Hunt,51.44,4411.000000,927,1.000000,0.300350,1.429173,0
3,Stardew Valley,52.58,4871.000000,2053,1.000000,0.650754,1.543996,0
4,Euro Truck Simulator 2,48.38,4695.621814,0,1.000000,0.000000,1.617618,0
5,Red Dead Redemption 2,46.00,3932.722406,0,1.000000,0.000000,1.424899,0
6,Destiny 2,12.00,10441.000000,435,1.000000,0.604167,14.501389,0
7,Warframe,111.33,4938.141200,0,0.739265,0.000000,0.739265,0
8,War Thunder,382.39,8033.000000,422,0.350122,0.018393,0.350122,0
9,ARK: Survival Evolved,64.78,13066.000000,821,1.000000,0.211228,3.361634,0

In [46]:
df_merged2.to_csv("ML_ready.csv")

In [49]:
df_merged2.columns.tolist()

['Unnamed: 0.2',
 'Unnamed: 0.1',
 'Unnamed: 0',
 'appid',
 'name',
 'release_date',
 'developers',
 'publishers',
 'categories',
 'genres',
 'estimated_owners',
 'average_playtime_forever',
 'average_playtime_2weeks',
 'median_playtime_forever',
 'median_playtime_2weeks',
 'peak_ccu',
 'tags',
 'pct_pos_total',
 'num_reviews_total',
 "'360 Video']",
 "'Accounting'",
 "'Accounting']",
 "'Action'",
 "'Action']",
 "'Adventure'",
 "'Adventure']",
 "'Animation & Modeling'",
 "'Animation & Modeling']",
 "'Audio Production'",
 "'Audio Production']",
 "'Casual'",
 "'Casual']",
 "'Design & Illustration'",
 "'Design & Illustration']",
 "'Documentary'",
 "'Early Access'",
 "'Early Access']",
 "'Education'",
 "'Education']",
 "'Episodic'",
 "'Free To Play'",
 "'Free To Play']",
 "'Game Development'",
 "'Game Development']",
 "'Gore'",
 "'Gore']",
 "'Indie'",
 "'Indie']",
 "'Massively Multiplayer'",
 "'Massively Multiplayer']",
 "'Movie'",
 "'Movie']",
 "'Nudity'",
 "'Photo Editing'",
 "'Photo Editing']",
 "'RPG'",
 "'RPG']",
 "'Racing'",
 "'Racing']",
 "'Short'",
 "'Simulation'",
 "'Simulation']",
 "'Software Training'",
 "'Software Training']",
 "'Sports'",
 "'Sports']",
 "'Strategy'",
 "'Strategy']",
 "'Tutorial'",
 "'Utilities'",
 "'Utilities']",
 "'Video Production'",
 "'Video Production']",
 "'Violent'",
 "'Web Publishing'",
 "'Web Publishing']",
 "['Accounting'",
 "['Accounting']",
 "['Action'",
 "['Action']",
 "['Adventure'",
 "['Adventure']",
 "['Animation & Modeling'",
 "['Animation & Modeling']",
 "['Audio Production'",
 "['Audio Production']",
 "['Casual'",
 "['Casual']",
 "['Design & Illustration'",
 "['Design & Illustration']",
 "['Early Access'",
 "['Early Access']",
 "['Education'",
 "['Education']",
 "['Free To Play'",
 "['Free To Play']",
 "['Game Development'",
 "['Game Development']",
 "['Gore'",
 "['Indie'",
 "['Indie']",
 "['Massively Multiplayer'",
 "['Massively Multiplayer']",
 "['Nudity'",
 "['Photo Editing'",
 "['Photo Editing']",
 "['RPG'",
 "['RPG']",
 "['Racing'",
 "['Racing']",
 "['Sexual Content'",
 "['Simulation'",
 "['Simulation']",
 "['Software Training'",
 "['Software Training']",
 "['Sports'",
 "['Sports']",
 "['Strategy'",
 "['Strategy']",
 "['Utilities'",
 "['Utilities']",
 "['Video Production'",
 "['Video Production']",
 "['Violent'",
 "['Violent']",
 "['Web Publishing']",
 '[]',
 '360 Video',
 'Accounting',
 'Action',
 'Adventure',
 'Animation & Modeling',
 'Audio Production',
 'Casual',
 'Design & Illustration',
 'Documentary',
 'Early Access_x',
 'Education',
 'Episodic',
 'Free To Play',
 'Game Development',
 'Gore',
 'Indie',
 'Massively Multiplayer',
 'Movie',
 'Nudity',
 'Photo Editing',
 'RPG',
 'Racing',
 'Sexual Content',
 'Short',
 'Simulation',
 'Software Training',
 'Sports',
 'Strategy',
 'Tutorial',
 'Utilities',
 'Video Production',
 'Violent',
 'Web Publishing',
 'title_clean',
 'playtime_hours',
 'fuzzy_match',
 'title_clean_fuzzy',
 'playtime_hours_fuzzy',
 'time_to_beat',
 'Name',
 'Steam Id',
 'First Release Date',
 'Early Access Release Date',
 'Early Access Exit Date',
 'Early Access_y',
 'Unreleased',
 'Price',
 'Copies Sold',
 'Revenue',
 'Total Revenue (including IAPs and DLCs)',
 'Wishlists',
 'Followers',
 'Reviews',
 'Review Score',
 'Genres',
 'Tags',
 'Features',
 'Average Playtime',
 'Developers',
 'Publishers',
 'Publishers Class',
 'Wishlists at Release',
 'Wishlists (last 7 days)',
 'M1 sales/release wishlists ratio',
 'M1 Revenue',
 'M1 Sales',
 'Y1 Revenue',
 'Y1 Sales',
 '2015 revenue',
 '2016 revenue',
 '2017 revenue',
 '2018 revenue',
 '2019 revenue',
 '2020 revenue',
 '2021 revenue',
 '2022 revenue',
 '2023 revenue',
 '2024 revenue',
 '2025 revenue',
 '2015 sales',
 '2016 sales',
 '2017 sales',
 '2018 sales',
 '2019 sales',
 '2020 sales',
 '2021 sales',
 '2022 sales',
 '2023 sales',
 '2024 sales',
 '2025 sales',
 'completion_rate_avg',
 'completion_rate_median',
 'playtime_deviation',
 'engagement_ratio',
 'is_frequently_completed',
 'bayesian_score']

In [48]:
m = 50  # Minimum review threshold
C = df_merged2['pct_pos_total'].mean()  # Global average positivity

# Compute Bayesian average score
df_merged2['bayesian_score'] = (
    (df_merged2['num_reviews_total'] / (df_merged2['num_reviews_total'] + m)) * df_merged2['pct_pos_total'] +
    (m / (df_merged2['num_reviews_total'] + m)) * C
)

In [ ]:
'appid',
 'name',
 'release_date',
 'developers',
 'publishers',
 'categories',
 'genres',
'time_to_beat',
'Publishers Class',
'Wishlists',
 'Followers',
'engagement_ratio',
'bayesian_score'
'copies_sold'
'Copies Sold',
 'Price',
'Tags'

In [71]:
desired_columns = [
    'appid',
    'name',
    'release_date',
    'developers',
    'publishers',
    'categories',
    'genres',
    'time_to_beat',
    'Publishers Class',
    'Wishlists',
    'Followers',
    'engagement_ratio',
    'bayesian_score',
    'copies_sold',
    'Copies Sold',
    'Price',
    'Tags'
]

# Create new DataFrame with only the desired columns (filter for columns that exist)
existing_columns = [col for col in desired_columns if col in df_merged2.columns]
df_selected = df_merged2[existing_columns]

In [72]:
df_selected

,appid,name,release_date,developers,publishers,categories,genres,time_to_beat,Publishers Class,Wishlists,Followers,engagement_ratio,bayesian_score,Copies Sold,Price,Tags
0,105600,Terraria,2011-05-16,['Re-Logic'],['Re-Logic'],"['Single-player', 'Multi-player', 'PvP', 'Onli...","['Action', 'Adventure', 'Indie', 'RPG']",51.53,AA,1428900.0,875249.0,1.919614,96.999266,37546991.0,9.99,"[""Open World Survival Craft"",""Sandbox"",""Surviv..."
1,4000,Garry's Mod,2006-11-29,['Facepunch Studios'],['Valve'],"['Single-player', 'Multi-player', 'PvP', 'Onli...","['Casual', 'Indie', 'Simulation']",52.65,AAA,1353000.0,774644.0,3.477999,95.999229,36082564.0,9.99,"[""Sandbox"",""Moddable"",""Multiplayer"",""Physics"",..."
2,292030,The Witcher 3: Wild Hunt,2015-05-18,['CD PROJEKT RED'],['CD PROJEKT RED'],"['Single-player', 'Steam Achievements', 'Steam...",['RPG'],51.44,AAA,1743500.0,964485.0,1.429173,95.998990,27640958.0,39.99,"[""Open World"",""RPG"",""Story Rich"",""Atmospheric""..."
3,413150,Stardew Valley,2016-02-26,['ConcernedApe'],['ConcernedApe'],"['Single-player', 'Multi-player', 'Co-op', 'On...","['Indie', 'RPG', 'Simulation']",52.58,AA,2241800.0,930228.0,1.543996,97.998829,27263989.0,14.99,"[""Farming Sim"",""Pixel Graphics"",""Multiplayer"",..."
4,227300,Euro Truck Simulator 2,2012-10-12,['SCS Software'],['SCS Software'],"['Single-player', 'Multi-player', 'Co-op', 'On...","['Indie', 'Simulation']",48.38,AA,925100.0,1173480.0,1.617618,96.998738,26366969.0,19.99,"[""Driving"",""Transportation"",""Simulation"",""Open..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10043,364800,Star Trek™: Judgment Rites,2015-05-08,['Interplay Entertainment Corp.'],['Interplay Entertainment Corp.'],"['Single-player', 'Family Sharing']","['Action', 'Adventure', 'Simulation']",6.50,Indie,13200.0,1436.0,1.042794,87.534362,1900.0,9.99,"[""Adventure"",""Space"",""Classic"",""Point & Click""..."
10045,369230,Kung Fu Panda Showdown of Legendary Legends,2016-01-06,['Vicious Cycle Software'],['Little Orbit'],"['Single-player', 'Multi-player', 'Full contro...",['Action'],0.66,NaN,NaN,NaN,0.454545,69.691225,NaN,NaN,NaN
10047,605310,Unearthing Mars VR,2017-06-22,['Light Era Studio'],['Skywalker HK'],"['Single-player', 'Steam Achievements', 'Track...","['Adventure', 'Simulation']",1.50,Indie,5500.0,505.0,0.735328,73.769656,3940.0,14.99,"[""Adventure"",""Simulation"",""Mars"",""VR""]"
10048,510570,Curse,2016-09-02,['Stormlord Games'],['Stormlord Games LLC'],"['Single-player', 'Steam Achievements', 'Famil...","['Adventure', 'Indie', 'Simulation']",0.79,Indie,4400.0,944.0,3.604569,73.769656,3960.0,4.99,"[""Indie"",""Adventure"",""Horror"",""First-Person"",""..."
10053,386490,Wanda - A Beautiful Apocalypse,2016-06-03,['Kodots Games'],['Kodots Games'],"['Single-player', 'Steam Achievements', 'Steam...","['Casual', 'Indie', 'RPG']",2.59,Indie,6600.0,696.0,1.180276,75.405049,17701.0,1.99,"[""Casual"",""Indie"",""Puzzle"",""RPGMaker"",""Atmosph..."

In [74]:
df_selected.to_csv("ML_final.csv")

In [55]:
import pandas as pd
import ast
from sklearn.preprocessing import MultiLabelBinarizer

In [75]:
import pandas as pd
import ast
from sklearn.preprocessing import MultiLabelBinarizer

# These are the list-like columns
list_columns = ['Tags', 'genres', 'categories']

def parse_column(x):
    if isinstance(x, str):
        try:
            val = ast.literal_eval(x)
            if isinstance(val, list):
                return [v.strip(" '[]") for v in val]
        except:
            pass
    return []

# Apply parsing
for col in list_columns:
    if col in df_selected.columns:
        df_selected[col] = df_selected[col].apply(parse_column)

C:\Users\artur\AppData\Local\Temp\ipykernel_17016\3803853145.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[col] = df_selected[col].apply(parse_column)

In [76]:
encoded_parts = []
mlb = MultiLabelBinarizer()

for col in list_columns:
    if col in df_selected.columns:
        encoded = mlb.fit_transform(df_selected[col])
        encoded_df = pd.DataFrame(encoded, columns=[f"{col}_{cls}" for cls in mlb.classes_])
        encoded_df.index = df_selected.index  # align with base df
        encoded_parts.append(encoded_df)

In [77]:
df_cleaned = df_selected.drop(columns=list_columns)

# Combine only if encoded parts exist
if encoded_parts:
    df_final = pd.concat([df_cleaned] + encoded_parts, axis=1)
else:
    print("⚠️ No tag/category encoding added.")

In [66]:
df_cleaned = df_selected.drop(columns=['Tags', 'genres', 'categories'])

# Only concat if we successfully encoded something
if encoded_parts:
    df_final = pd.concat([df_cleaned] + encoded_parts, axis=1)
else:
    print("⚠️ No tag/category encoding was added. Check parsing step.")

In [79]:
df_final.to_csv("testing_nulls.csv")

In [80]:
null_counts = df_final.isna().sum()
null_columns = null_counts[null_counts > 0]
print(null_columns)

Publishers Class     97
Wishlists           101
Followers            97
engagement_ratio     58
Copies Sold          97
Price                97
dtype: int64

In [81]:
df_final_cleaned = df_final.dropna()

In [82]:
null_counts = df_final_cleaned.isna().sum()
null_columns = null_counts[null_counts > 0]
print(null_columns)

Series([], dtype: int64)

In [83]:
df_final_cleaned.shape

(7029, 513)

In [84]:
df_final_cleaned.to_csv("Proyecto_ML.csv")

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pandas as pd

# Load your dataset
df = pd.read_csv("Proyecto_ML.csv")

# Targets to evaluate
targets = ["Wishlists", "bayesian_score", "Copies Sold"]

# Store results
results = []

# Loop over each target
for target in targets:
    # Define feature set excluding all targets + appid
    drop_cols = targets + ['appid']
    X = df.drop(columns=drop_cols, errors='ignore')
    X = X.select_dtypes(include=['number'])  # Keep only numeric features

    y = df[target]

    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Train model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Predict and evaluate
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)

    results.append((target, r2))

# View results
results_df = pd.DataFrame(results, columns=["Target", "R2 Score"])
print(results_df)